:root {
    --cell-color: #FFC300;
    --text-color: #900C3F;
    --body-bg-color: #DAF7A6;
    --dark-color: #581845;
}

body {
    background-color: var(--body-bg-color);
}

.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 650px) {
    .container {
        width: auto;
        ;
    }
}

.game-container {
    margin-right: 20px;
    width: 190px;
    padding:2px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba( 247, 200, 132, 0.7);
}

@media screen and (max-width: 350px) {
    .game-container {
        margin-right: auto;
        margin-left: auto;
        order: 0;
        /*we made its order bigger than .game-tools-container so that it comes after it (below it) in mobile screens*/
    }
}

.cell-test {
    background-color: red;
}

.cell-on {
    background-color: var(--text-color);
}

.cell-off {
    background-color: rgba( 247, 200, 132, 0.7);
    /*same as .game-container bgColor*/
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    height: 22px;
    width: 22px;
}

.small-td {
    height: 17px;
    width: 17px;
}

.game-tools-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.information-container {
    color: var(--text-color);
}

.information-container * {
    margin: 2px;
}

.information-container p {
    font-size: 22px;
}

.information-container strong {
    font-size: 28px;
}

@media screen and (max-width: 350px) {
    .game-tools-container {
        flex-direction: row-reverse;
        justify-content: space-around;
        width: 190px;
        order: -1;
        margin-bottom: 8px;
        /*we changed the order in of this area so that it precedes the gamecontainer in the small screens, it will be above it...for more, check it effects in ui*/
    }
    .information-container p {
        font-size: 18px;
    }
    .information-container strong {
        font-size: 23px;
    }
}

@media screen and (max-width: 200px) {
    /*cells dimensions will be based on the viewport width when the screen width is less than 201px*/
    td {
        height: 10vw;
        width: 10vw;
    }
    .small-td {
        height: 9vw;
        width: 9vw;
    }
}


.buttons-container {
    width: 100%/*300px*/
    ;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 2%;
}

.buttons-container button {
    height: 35px;
    width: 93px;
    margin: 2px;
    border: none;
    background-color: var(--text-color);
    color: var(--body-bg-color);
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.5s;
}



.buttons-container button:hover {
    transition-duration: 0.5s;
    color: var(--text-color);
    background-color: var(--body-bg-color);
}

.buttons-container #pauseBtn {
    cursor: not-allowed;
}

@media screen and (max-width: 350px) {
    .buttons-container button {
        height: 30px;
        font-size: 12px;
    }
}
.small-screen-buttons-container{
    display:none;
}
@media screen and (max-width: 250px) {
    .buttons-container {
        display:none;
    }
    .small-screen-buttons-container{
        display:flex;
        flex-direction: column;
        padding: 5%;
        padding-top:0px;    
        width: 100%;
    }

    .small-screen-buttons-container button{
        background-color: transparent;
        color:var(--text-color);
        border:none;
        font-size:18px;
        height:40px;width:40px;
        border-radius:50%;
        transition-duration:0.5s;
        cursor:pointer;
    }
    .small-screen-buttons-container button:hover{
        background-color: var(--text-color);
        color:var(--body-bg-color);
        transition-duration: 0.5s;
    }
    .small-screen-buttons-container #start-pause-mobile-buttons-container{
        display:flex; flex-direction: row;
        flex-wrap: wrap; justify-content:space-between;
    }
    .small-screen-buttons-container #rotate-button-container{
        width:100%;
        display:flex; flex-direction:row; justify-content: end;
    }
}

#gameOverMsg {
    position: fixed;
    top: 20%;
    background-color: var(--text-color);
    color: var(--body-bg-color);
    padding: 15px;
    box-shadow: 0px 2px 20px var(--text-color);
    font-size: 45px;
    border-radius: 2px;
    border: 1px solid var(--cell-color);
    display: none;
}