:root{
    --cell-color: #FFC300 ;
    --text-color: #900C3F ;
    --body-bg-color:#DAF7A6 ;
   --dark-color:  #581845 ;
}
body{
    background-color:  var(--body-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.game-container{
    margin-left:auto; margin-right:auto;
    width: 190px;
    height: 320px;
    margin-top:auto; margin-bottom:auto;
    background-color: rgba( 247, 200, 132 , 0.7);    
}
.cell-on{
    background-color: var(--cell-color);
}
.cell-off{
    background-color: rgba( 247, 200, 132 , 0.7);/*same as .game-container bgColor*/
}

table{
    margin-left:auto; margin-right:auto;
}
td{
    height: 22px;
    width: 22px;
}

.game-tools-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.information-container{
    display: flex;
    flex-direction: column;
}